<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill</title>
    <style>
        tr {
            width: 500px;

        }

        div {
            width: 500px;
            margin: auto;
        }

        a {
            background: #212529;
            padding: 20px;
        }

        span {
            color: #FFFFFF;
        }

        body {
            background-image: url("images/bg-Cpu-1.jpg");
        }
    </style>
</head>

<body style=background-color:#212529>
    <div>
        <p style="text-align: center">
            <a href="index"><span> About Me</span></a>
            <a href="skill"><span>Skill</span></a>
            <a href="contact"><span>Contract Me</span></a>
            <a href="portfolio"><span>Portfolio</span></a>
        </p>
        <br>
        <span>
            <h1 style="text-align: center;">Skill</h1>

            <tr>
                <td>
                    <ul>
                        <p>
                            <li>JavaScript</li>
                            <li>HTML</li>
                            <li>MySQL</li>
                            <li>Node.JS</li>
                            <li>Koa</li>
                            <li>Cloud Deployment</li>
                            <li>Algorithm: Data Structure</li>
                        </p>
                    </ul>
                </td>
                <td>
                    <p style="text-align: center"><img src="images/com.gif" width="110" height="100" /></p>
                </td>
            </tr>
        </span>
    </div>
</body>

</html>