.red {background-color: red;}
.blue {background-color: blue;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.brown {background-color: brown;}
.h50 {height: 50px;}
.h100 {height: 100px;}
.h150 {height: 150px;}