<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        tr {
            width: 500px;
         
        }
        div {
            width: 500px;
            margin: auto;
            
        }
        a {
            background:#212529;
            padding: 20px;
            
        }
        span {
            color: #FFFFFF;
        }
        body {
            background-image: url("images/bg-Cpu-1.jpg");
        }
    </style>
</head>

<body style=background-color:#212529>
    <p style="text-align: center">
        <a href="index"><span> About Me</span></a>
        <a href="skill"><span>Skill</span></a>
        <a href="contact"><span>Contract Me</span></a>
        <a href="portfolio"><span>Portfolio</span></a>
    </p>
    <br>
    <h1 style="text-align: center;"><span>About Me</span></h1>
    <div>
        <p style="text-align: center"><img src="images/mypicture.jpg" width="200" height="250" border="2px solid #FFFFFF" /></p>
        <ul>
            <p style="text-indent: 50px"><span>I was born in 1986 on September 30, graduated from Prince of Songkla
                University. Surat Thani Campus I've been interested in drawing since childhood. So I like to work on
                design. including work that requires a computer But the house lacks a person to take care of the
                business. need me to take care of It's been ten years since I've been doing my favorite thing again.</span></p>
        </ul>
    </div>
</body>

</html>